BODY {
	color : #ffffff;
	background-color : #000000;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif, sans-serif;
	font-size : 10pt;
	background-image :url(menuimagesw8/w8bkgrnd.jpg);
	scrollbar-face-color:#000000;
	scrollbar-highlight-color:#7B7B7B;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#000000;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#636363;
}

A {
	color : #66ff99;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	text-decoration : none;
}
A:VISITED {
	color : #ff8080;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
}

A:HOVER {
	color : Yellow;
}
H1 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 14pt;
	font-weight : normal;
	margin-bottom : 2pt;
      margin-top : 2pt;		
	}
	
H2 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
      margin-top : 2pt;		
	margin-bottom : 2pt;
}

H5 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	margin-bottom : 1pt;
      margin-top : 1pt;			
	}
TD {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 9pt;
}
UL {
      margin-top : 2pt;
      margin-bottom : 2pt;
}
LI{
      font-size : 10pt;
      margin-bottom : 0pt;
      margin-top : 0pt;			
}
.red{
	color : #ff0000;
}

.yellow{
	color : #ffff00;
}
.orange{
	color : #ff8543;
}
.blue{
	color : #43ccff;
}
.purple{
	color : #ff99ff;
}
.green{
	color : #00ff00;
}
.melon{
	color : #ff6666;
}

