BODY {
	color : #ffffff;
	background-color : #100047;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif, sans-serif;
	font-size : 10pt;
	background-image :url( menuimages/stormclouds.jpg);
	scrollbar-face-color:#10004F;
    scrollbar-highlight-color:#9060C0;
    scrollbar-3dlight-color:#2F005F;
    scrollbar-darkshadow-color:#000000;
    scrollbar-shadow-color:#1F0030;
    scrollbar-arrow-color:#FFFFFF;
    scrollbar-track-color:#603CAA;
}

A {
	color : #66ff99;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
}
A:VISITED {
	color : #ff8080;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

A:HOVER {
	color : Yellow;
}
H1 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-weight : bold;
	margin-bottom : 2pt;
      margin-top : 2pt;		
	}
	
H2 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-weight : normal;
      margin-top : 2pt;		
	margin-bottom : 2pt;
}

H3 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	margin-bottom : 1pt;
      margin-top : 1pt;			
	}
TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
UL {
      margin-top : 2pt;
      margin-bottom : 2pt;
}
LI{
      font-size : 10pt;
      margin-bottom : 0pt;
      margin-top : 0pt;			
}
.a {
	color : #ff0000;
}
.d {
	color : #66ffff;
}
.h {
	color : #ffff99;
}
.n{
	color : #ffff00;
}
.m{
	color : #ff8543;
}
.e{
	color : #43ccff;
}
.gm{
	color : #ff99ff;
}
.w{
	color : #ffffff;
}
.g{
	color : #00ff00;
}
