BODY {
	color : #000000;
	background-color : #ffffff;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif, sans-serif;
	font-size : 10pt;
    scrollbar-face-color:#10004F;
    scrollbar-highlight-color:#9060C0;
    scrollbar-3dlight-color:#2F005F;
    scrollbar-darkshadow-color:#000000;
    scrollbar-shadow-color:#1F0030;
    scrollbar-arrow-color:#FFFFFF;
    scrollbar-track-color:#603CAA;
}

A {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	text-decoration : underline;
}
A:VISITED {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

A:HOVER {
	color : #0000ff;
}

H1 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-weight : bold;
	margin-bottom : 2pt;
      margin-top : 2pt;		
	}
	
H2 {
	ont-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-weight : normal;
      margin-top : 2pt;		
	margin-bottom : 2pt;
}

H3 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
	font-weight : bold;
	margin-bottom : 1pt;
      margin-top : 1pt;			
	}

TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}

