BODY {
	color : #ffffff;
	background-color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif, sans-serif;
	font-size : 10pt;
	background-image :url(http://www.zimlab.com/wizardry/recovered/flamestryke/mm7/menuimages7/blackcherryclouds.jpg);
	scrollbar-face-color:#400820;
	scrollbar-highlight-color:#BF679F;
	scrollbar-3dlight-color:#5F083F;
	scrollbar-darkshadow-color:#000000;
	scrollbar-shadow-color:#300720;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#922E6E;
}

A {
	color : #66ff99;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
}
A:VISITED {
	color : #ff8080;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

A:HOVER {
	color : Yellow;
}
H1 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-weight : bold;
	margin-bottom : 2pt;
      margin-top : 2pt;		
	}
	
H2 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14pt;
	font-weight : normal;
      margin-top : 2pt;		
	margin-bottom : 2pt;
}

H3 {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	margin-bottom : 1pt;
      margin-top : 1pt;			
	}
TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
UL {
      margin-top : 2pt;
      margin-bottom : 2pt;
}
LI{
      font-size : 10pt;
      margin-bottom : 0pt;
      margin-top : 0pt;			
}
.a {
	color : #ff0000;
}
.d {
	color : #66ffff;
}
.h {
	color : #ffff99;
}
.n{
	color : #ffff00;
}
.m{
	color : #ff8543;
}
.e{
	color : #43ccff;
}
.gm{
	color : #ff99ff;
}
.w{
	color : #ffffff;
}
.g{
	color : #00ff00;
}
.p{
	color : #ffcccc;
}
.dk{
	color : #990000;
}
.br{
	color : #af977f;
}
.md{
	color : #ff6666;
}
.sp{
	color : #ffccff;
}
.w{
	color : #3333ff;
}
