




/*
     FILE ARCHIVED ON 15:47:12 Oct 8, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 2:59:51 Apr 30, 2011.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
BODY {
	color : #ffffff;
	background-color : #000000;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif, sans-serif;
	font-size : 12pt;
	background-image :flamingclouds.jpg;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-face-color:#8F1800;
	scrollbar-highlight-color:#F0B03F;
	scrollbar-3dlight-color:#801F00;
	scrollbar-darkshadow-color:#000000;
	scrollbar-shadow-color:#EF471F;
	scrollbar-arrow-color:#FFCF5F;
	scrollbar-track-color:#F07020;
	background-image: url(flamingclouds.jpg);
}

A {
	color : #01FF00;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-weight : bold;
	text-decoration : none;
}
A:VISITED {
	color : #FA8600;
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
}

A:HOVER {
	color : Yellow;
}
H1 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 14pt;
	font-weight : normal;
	margin-bottom : 2pt;
      margin-top : 2pt;		
	}
	
H2 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
      margin-top : 2pt;		
	margin-bottom : 2pt;
}

H5 {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : bold;
	margin-bottom : 1pt;
      margin-top : 1pt;			
	}
TD {
	font-family : Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size : 10pt;
}
UL {
      margin-top : 2pt;
      margin-bottom : 2pt;
}
LI{
      font-size : 10pt;
      margin-bottom : 0pt;
      margin-top : 0pt;			
}
.red{
	color : #ff0000;
}

.yellow{
	color : #ffff00;
}
.orange{
	color : #ff8543;
}
.blue{
	color : #43ccff;
}
.purple{
	color : #ff99ff;
}
.green{
	color : #00ff00;
}
.melon{
	color : #ff6666;
}

